<!DOCTYPE html>
    <html lang="pl">
    <head>
        <title>Sign in</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
      {{ form.as_p }}
    <button type="submit">Login</button>
  </form><br>
{% endblock %}
    <a href = "../password_reset">Zapomniałem hasła</a>
    <a href ="/../../">Strona główna</a>
    </body>
</html>