{% extends 'base.html' %}
{% block stylesheet %}
    <link rel="stylesheet" href="../../../../Tourn/static/form_style.css">
{% endblock %}
{% block title %}Ustaw nowe hasło{% endblock %}

{% block content %}
<div class="add-padding">
{% if validlink %}
<h1>Ustaw nowe hasło!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="orange-button" type="submit" value="Zmień moje hasło">
</form>
{% else %}
<p>Link do zmiany hasła jest niepoprawny lub nie jest już aktywny. Skorzystaj ponownie z opcji "Zapomniałem hasła"</p>
{% endif %}
    </div>
{% endblock %}