<!DOCTYPE html>
    <html lang="pl">
    <head>
        <title>Signup</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../../Tourn/static/form_style.css">
    </head>
    <body>
{% block content %}
    <div class="add-padding">
    {% if logos.count != 0 %}
        <h4>Dotychczas dodane loga:</h4>
    {% endif %}
    {% for logo in logos %}
        <img src="/../{{ logo.image_src }}" alt="logo sponsora" height="100">
    {% endfor %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
      {% for field in form %}
          {{ field.label }}:<br>
          {{ field }}
          {{ field.errors }}
    {% endfor %}
      <button class="orange-button" type="submit">Dodaj logo</button>
  </form><br><br>
    <a class="orange-button" href="../">Zakończ</a>
    </div>
{% endblock %}
    </body>
</html>