<!DOCTYPE html>
    <html lang="pl">
    <head>
        <title>Zapisz się na turniej</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" href="/./Tourn/static/form_style.css">
    </head>
    <body>
{% block content %}
    <div class="add-padding">
  <h2>Zapisz się na turniej {{ tourn.name }}</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
          {{ field.label }}<br>
          {{ field }} {{ field.help_text }}
          {{ field.errors }}<br>
          <br>
    {% endfor %}
      <button class="orange-button" type="submit">Zapisz się</button>
  </form>
    </div>
{% endblock %}
    </body>
</html>