<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
{% block stylesheet %}
{% endblock %}
  <title>{% block title %}Welcome to Tournaments{% endblock %}</title>
</head>
<body>
  <main>
  {% block user %}
    {% endblock %}
    {% if user.is_authenticated %}
        <div class="navigation-pane">
            <a href="{%  url 'home' %}">Strona główna</a> |
            <a href="{% url 'add_tournament' %}">Utwórz nowy turniej</a> |
            <a href="{% url 'my_orgtourns' %}">Moje turnieje (organizacja)</a> |
            <a href="{% url 'my_tourns' %}">Moje turnieje (rejestracja)</a> |
            <a href="{% url 'my_games' %}">Nadchodzące spotkania</a>
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
  </main>
<footer class="footer">Administrator serwisu: administrator.serwisu@gmail.com</footer>
</body>
</html>