{% extends 'base.html' %}
{% block stylesheet %}
    <link href="../Tourn/static/base_style.css" rel="stylesheet">
{% endblock %}
{% block title %}Home{% endblock %}
<link href="../Tourn/static/base_style.css" rel="stylesheet">
{% block user %}
  {% if user.is_authenticated %}
    <div class="user-pane"><div id="greeting" class="left-block">Cześć, {{ user.username }}! Witaj w systemie Tournaments!</div>
    <div class="right-block"><a class="userclicks" href="{% url 'logout' %}">Wyloguj</a> |
    <a class="userclicks" href="{% url 'password_reset' %}">Zmień hasło</a></div></div>
{% else %}
    <div class="user-pane"><div id="greeting" class="left-block">Tournaments - śledź rozgrywki online</div>
        <div class="right-block">
            <a class="userclicks" href="{% url 'login' %}">Zaloguj</a> |
            <a class="userclicks" href="{% url 'signup' %}">Zarejestruj się</a>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block content %}
    <form class="search-engine" action="/" method="POST">
    {% csrf_token %}
        <input class="textfield" type="text" name="tournament_name" value="{{ name }}">
        <input class="button" type="submit" name="search" value="Szukaj turnieju">
    </form>
{% if length != 0 %}
    {% for obj in object_list %}
<div class = "container">
  <div class = "col-md-6">
    <br>
    <a class="torun_name" href = "tournament/{{ obj.id }}">{{obj.name}}</a>
    <p>{{obj.start_date}}</p>
    <hr>
  </div>
</div>
{% endfor %}
<div class = "container">
  <div class = "col-md-6">
    <nav aria-label="Page navigation example">
      <span class="pagination">
        <li class="page-item">  <!-- Jump to Prvious Page -->
          {% if object_list.has_previous %}
             <li class="previous"> <a href="?page={{ object_list.previous_page_number }}">
             <span aria-hidden="true">‹</span></a>
          {% else %}
              <li class="previous disabled"><a>‹</a>
          {% endif %}
        </li>
         {% for page in object_list.paginator.page_range %}
            {% if page == object_list.number %}
            <li class="pg-active"><a class = "page_number" href="?page={{page}}">{{page}}</a>
            {% else %}
            <li class="pg"><a class = "page_number" href="?page={{page}}">{{page}}</a>
            {% endif %}
        {% endfor %}
        <li class="page-item">  <!-- Jump to Next Page -->
          {% if object_list.has_next %}
            <li class="previous"> <a href="?page={{ object_list.next_page_number }}">›</a></li>
          {% else %}
              <li class="next disabled"><a>›</a>
          {% endif %}
        </li>
      </span>
    </nav>
  </div>
</div>
    {% else %}
    <p>Brak informacji o zbliżających się turniejach</p>
    {% endif %}
{% endblock %}