{% extends 'base.html' %}
{% block stylesheet %}
     <link href="../Tourn/static/base_style.css" rel="stylesheet">
{% endblock %}
{% block title %}Moje turnieje{% endblock %}
{% block user %}
  {% if user.is_authenticated %}
    <div class="user-pane"><div id="greeting" class="left-block">Tournaments - śledź rozgrywki online</div>
    <div class="right-block"><a class="userclicks" href="{% url 'logout' %}">Wyloguj</a> |
    <a class="userclicks" href="{% url 'password_reset' %}">Zmień hasło</a></div></div>
{% else %}
    <div class="user-pane"><div id="greeting" class="left-block">Tournaments - śledź rozgrywki online</div>
        <div class="right-block">
            <a class="userclicks" href="{% url 'login' %}">Zaloguj</a> |
            <a class="userclicks" href="{% url 'signup' %}">Zarejestruj się</a>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block content %}
{% if length != 0 %}
    {% for obj in object_list %}
    <p>{{ obj.tournament.name }}
        {% if obj.matchno <= 7 %}
            {% if obj.matchno >= 4 %}
                - Ćwiećfinał
            {% else %}
                {% if obj.matchno >= 2 %}
                    - Półfinał
                {% else %}
                    - Finał
                {% endif %}
            {% endif %}
        {% endif %}
        {{obj.date}} <br>
        {{ obj.user1.first_name }} {{ obj.user1.last_name }} - {{ obj.user2.first_name }} {{ obj.user2.last_name }}
        </p>
{% endfor %}
    {% else %}
    <p class="tourntitle">Brak informacji o nadchodzących spotkaniach</p>
    {% endif %}
{% endblock %}