<!DOCTYPE html>
    <html lang="pl">
    <head>
        <title>Signup</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../Tourn/static/form_style.css">
    </head>
    <body>
{% block content %}
    <div class="center-items,add-padding">
  <h2>Zarejestruj się</h2>
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
          <div class="errorlist">
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
          </div>
      </p>
      {% endfor %}
    <button type="submit">Zarejestruj się</button>
  </form>
    </div>
{% endblock %}
    </body>
</html>